os: linux
dist: focal
language: cpp

install:
 - sudo apt-get update
 - sudo apt-get install --yes libgtest-dev

jobs:
 include:
  - stage: TestCoverage
    script:
     - sudo pip install gcovr
     - cmake -B build -DBUILD_LIB=1 -DCMAKE_BUILD_TYPE=Debug
     - sudo make install -C build 
     - rm -rf build

     - cmake -B build -DBUILD_STATIC=1 -DWITH_COVERAGE=1 -DCMAKE_BUILD_TYPE=Release
     - make -C build
     - cmake -B build -DBUILD_LIB=1 -DCMAKE_BUILD_TYPE=Debug -DWITH_COVERAGE=1
     - sudo make install -C build 

     - cmake -B build -DBUILD_SHARED=1 -DWITH_COVERAGE=1 -DCMAKE_BUILD_TYPE=Release
     - make -C build
     
     - cd build && ctest .
     - cd ..
     - curl -Os https://uploader.codecov.io/latest/linux/codecov
     - chmod +x codecov
     - ./codecov -f <(gcovr -e '.*/tests/.*' -x)
